:root {
    --primary-color:black;
    --secondary-color:/;
    --tertiary-color:rgb(107, 107, 151);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(-- --tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/*Header Nav style starts */

.header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    border-bottom: 2px solid var(--primary-color);
}
.header-list {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header a {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    color: var(--primary-color)
}


.header-list ul, .work ul  {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    background: #fafafa;
    list-style: none;
    
}
.about-me {
    display:flex;
    flex-direction: row;
    margin: 10px;
}

.about-me h2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:center;
    padding: 20px;
    border-right: 2px var(--primary-color) solid;
}

.about-me p {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    color: var(--primary-color)
}
.contact {
   margin: 10px auto;
   padding-bottom: 50px;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.contact h2 {
    flex: 1 30%;
}

.contact ul {
    list-style: none;
    flex: 1 30%;
    
}
.contact li {
  flex: 2 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}